services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: ${ZOOKEEPER_CLIENT_PORT}
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "${ZOOKEEPER_CLIENT_PORT}:${ZOOKEEPER_CLIENT_PORT}"
    networks:
      - weather_data_net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: ${KAFKA_BROKER_ID}
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:${ZOOKEEPER_CLIENT_PORT}
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:${KAFKA_PORT}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "${KAFKA_PORT}:${KAFKA_PORT}"
    networks:
      - weather_data_net

  producer:
    build: ./producer
    depends_on:
      - kafka
    environment:
      - API_URL=${API_URL}
      - KAFKA_BROKER=kafka:${KAFKA_PORT}
      - KAFKA_TOPIC=${KAFKA_TOPIC}
    restart: always
    networks:
      - weather_data_net

  spark-master:
    build: ./spark
    container_name: spark-master
    command: >
      bash -c "/opt/spark/sbin/start-master.sh &&
               tail -f /opt/spark/logs/spark--org.apache.spark.deploy.master*.out"
    environment:
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
      - POSTGRES_USER= ${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB= ${POSTGRES_DB}
    ports:
      - "8080:8080"
      - "7077:7077"
    depends_on:
      - kafka
      - zookeeper
      - postgres
    networks:
      - weather_data_net

  spark-worker:
    build: ./spark
    container_name: spark-worker
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 &&
               tail -f /opt/spark/logs/spark--org.apache.spark.deploy.worker*.out"
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_MASTER_URL=spark://spark-master:7077
      - POSTGRES_USER= ${POSTGRES_USER}
      - POSTGRES_PASSWORD= ${POSTGRES_PASSWORD}
      - POSTGRES_DB= ${POSTGRES_DB}
    depends_on:
      - spark-master
    networks:
      - weather_data_net

  postgres:
    image: postgres:15
    container_name: data-base-container
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - weather_data_net

  model-trainer:
    build:
      context: ./model
    container_name: model-trainer
    environment:
      - PGUSER=${POSTGRES_USER}
      - PGPASS=${POSTGRES_PASSWORD}
      - PGHOST=postgres
      - PGPORT=5432
      - PGDB=${POSTGRES_DB}
      - MODEL_DIR=/app/saved_models
    volumes:
      - ./model/saved_models:/app/saved_models
    depends_on:
      - postgres
    networks:
      - weather_data_net

  model-api:
    build:
      context: ./model_api
    container_name: model-api
    environment:
      - PGUSER=${POSTGRES_USER}
      - PGPASS=${POSTGRES_PASSWORD}
      - PGHOST=postgres
      - PGPORT=5432
      - PGDB=${POSTGRES_DB}
      - MODEL_DIR=/app/saved_models
    volumes:
      - ./model/saved_models:/app/saved_models
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - model-trainer
    networks:
      - weather_data_net


networks:
  weather_data_net:
    driver: bridge